/*! CSS Used from: https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css */
*,::after,::before{box-sizing:border-box;}
body{margin:0;font-family:var(--bs-body-font-family);font-size:var(--bs-body-font-size);font-weight:var(--bs-body-font-weight);line-height:var(--bs-body-line-height);color:var(--bs-body-color);text-align:var(--bs-body-text-align);background-color:var(--bs-body-bg);-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
h2,h4,h6{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;color:var(--bs-heading-color);}
h2{font-size:calc(1.325rem + .9vw);}
@media (min-width:1200px){
h2{font-size:2rem;}
}
h4{font-size:calc(1.275rem + .3vw);}
@media (min-width:1200px){
h4{font-size:1.5rem;}
}
h6{font-size:1rem;}
p{margin-top:0;margin-bottom:1rem;}
ul{padding-left:2rem;}
ul{margin-top:0;margin-bottom:1rem;}
a{color:rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));text-decoration:underline;}
a:hover{--bs-link-color-rgb:var(--bs-link-hover-color-rgb);}
img,svg{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
[type=button]:not(:disabled),button:not(:disabled){cursor:pointer;}
.img-fluid{max-width:100%;height:auto;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));margin-right:calc(-.5 * var(--bs-gutter-x));margin-left:calc(-.5 * var(--bs-gutter-x));}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-12{flex:0 0 auto;width:100%;}
@media (min-width:992px){
.col-lg-6{flex:0 0 auto;width:50%;}
}
@media (min-width:1200px){
.col-xl-6{flex:0 0 auto;width:50%;}
}
.collapse:not(.show){display:none;}
.dropdown-toggle{white-space:nowrap;}
.dropdown-toggle::after{display:inline-block;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent;}
.dropdown-toggle:empty::after{margin-left:0;}
.dropdown-menu{--bs-dropdown-zindex:1000;--bs-dropdown-min-width:10rem;--bs-dropdown-padding-x:0;--bs-dropdown-padding-y:0.5rem;--bs-dropdown-spacer:0.125rem;--bs-dropdown-font-size:1rem;--bs-dropdown-color:var(--bs-body-color);--bs-dropdown-bg:var(--bs-body-bg);--bs-dropdown-border-color:var(--bs-border-color-translucent);--bs-dropdown-border-radius:var(--bs-border-radius);--bs-dropdown-border-width:var(--bs-border-width);--bs-dropdown-inner-border-radius:calc(var(--bs-border-radius) - var(--bs-border-width));--bs-dropdown-divider-bg:var(--bs-border-color-translucent);--bs-dropdown-divider-margin-y:0.5rem;--bs-dropdown-box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15);--bs-dropdown-link-color:var(--bs-body-color);--bs-dropdown-link-hover-color:var(--bs-body-color);--bs-dropdown-link-hover-bg:var(--bs-tertiary-bg);--bs-dropdown-link-active-color:#fff;--bs-dropdown-link-active-bg:#0d6efd;--bs-dropdown-link-disabled-color:var(--bs-tertiary-color);--bs-dropdown-item-padding-x:1rem;--bs-dropdown-item-padding-y:0.25rem;--bs-dropdown-header-color:#6c757d;--bs-dropdown-header-padding-x:1rem;--bs-dropdown-header-padding-y:0.5rem;position:absolute;z-index:var(--bs-dropdown-zindex);display:none;min-width:var(--bs-dropdown-min-width);padding:var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);margin:0;font-size:var(--bs-dropdown-font-size);color:var(--bs-dropdown-color);text-align:left;list-style:none;background-color:var(--bs-dropdown-bg);background-clip:padding-box;border:var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);border-radius:var(--bs-dropdown-border-radius);}
.nav-link{display:block;padding:var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);font-size:var(--bs-nav-link-font-size);font-weight:var(--bs-nav-link-font-weight);color:var(--bs-nav-link-color);text-decoration:none;background:0 0;border:0;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.nav-link{transition:none;}
}
.nav-link:focus,.nav-link:hover{color:var(--bs-nav-link-hover-color);}
.navbar{--bs-navbar-padding-x:0;--bs-navbar-padding-y:0.5rem;--bs-navbar-color:rgba(var(--bs-emphasis-color-rgb), 0.65);--bs-navbar-hover-color:rgba(var(--bs-emphasis-color-rgb), 0.8);--bs-navbar-disabled-color:rgba(var(--bs-emphasis-color-rgb), 0.3);--bs-navbar-active-color:rgba(var(--bs-emphasis-color-rgb), 1);--bs-navbar-brand-padding-y:0.3125rem;--bs-navbar-brand-margin-end:1rem;--bs-navbar-brand-font-size:1.25rem;--bs-navbar-brand-color:rgba(var(--bs-emphasis-color-rgb), 1);--bs-navbar-brand-hover-color:rgba(var(--bs-emphasis-color-rgb), 1);--bs-navbar-nav-link-padding-x:0.5rem;--bs-navbar-toggler-padding-y:0.25rem;--bs-navbar-toggler-padding-x:0.75rem;--bs-navbar-toggler-font-size:1.25rem;--bs-navbar-toggler-icon-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");--bs-navbar-toggler-border-color:rgba(var(--bs-emphasis-color-rgb), 0.15);--bs-navbar-toggler-border-radius:var(--bs-border-radius);--bs-navbar-toggler-focus-width:0.25rem;--bs-navbar-toggler-transition:box-shadow 0.15s ease-in-out;position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);}
.navbar-brand{padding-top:var(--bs-navbar-brand-padding-y);padding-bottom:var(--bs-navbar-brand-padding-y);margin-right:var(--bs-navbar-brand-margin-end);font-size:var(--bs-navbar-brand-font-size);color:var(--bs-navbar-brand-color);text-decoration:none;white-space:nowrap;}
.navbar-brand:focus,.navbar-brand:hover{color:var(--bs-navbar-brand-hover-color);}
.navbar-nav{--bs-nav-link-padding-x:0;--bs-nav-link-padding-y:0.5rem;--bs-nav-link-color:var(--bs-navbar-color);--bs-nav-link-hover-color:var(--bs-navbar-hover-color);--bs-nav-link-disabled-color:var(--bs-navbar-disabled-color);display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center;}
.navbar-toggler{padding:var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);font-size:var(--bs-navbar-toggler-font-size);line-height:1;color:var(--bs-navbar-color);background-color:transparent;border:var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);border-radius:var(--bs-navbar-toggler-border-radius);transition:var(--bs-navbar-toggler-transition);}
@media (prefers-reduced-motion:reduce){
.navbar-toggler{transition:none;}
}
.navbar-toggler:hover{text-decoration:none;}
.navbar-toggler:focus{text-decoration:none;outline:0;box-shadow:0 0 0 var(--bs-navbar-toggler-focus-width);}
@media (min-width:1200px){
.navbar-expand-xl{flex-wrap:nowrap;justify-content:flex-start;}
.navbar-expand-xl .navbar-nav{flex-direction:row;}
.navbar-expand-xl .navbar-nav .nav-link{padding-right:var(--bs-navbar-nav-link-padding-x);padding-left:var(--bs-navbar-nav-link-padding-x);}
.navbar-expand-xl .navbar-collapse{display:flex!important;flex-basis:auto;}
.navbar-expand-xl .navbar-toggler{display:none;}
}
.m-auto{margin:auto!important;}
.me-auto{margin-right:auto!important;}
.mb-2{margin-bottom:.5rem!important;}
.p-0{padding:0!important;}
.text-end{text-align:right!important;}
.text-center{text-align:center!important;}
@media (min-width:992px){
.mb-lg-0{margin-bottom:0!important;}
}
/*! CSS Used from: https://dop.org/static/css/main.12b894ab.chunk.css */
body{background:#fff;height:100vh;font-family:"Space Mono",monospace;}
.row{margin:0;}
.p-0,.row{padding:0;}
a,button,div,h2,h4,h6,p,span,ul{transition:background-color 1s ease-out;}
a{text-decoration:none!important;}
ul{padding:0;list-style:none;}
div,h2,h4,h6,p,ul{margin:0;}
@media only screen and (max-width:1024px){
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:initial;border:1px solid transparent;border-radius:.25rem;outline:none;}
.navbar-toggler:focus{outline:none;}
.main-footer{text-align:center;}
}
@media (max-width:1024px){
h2{font-size:30px!important;}
}
button:focus{outline:none!important;}
a,button{cursor:pointer;}
button{outline:none!important;}
.custom-container{max-width:1270px;width:100%;margin:0 auto;padding-left:15px;padding-right:15px;}
.global-img{padding:9px;justify-content:center;width:48px;height:48px;border:1px solid #fff;background:#000;}
.global-img{display:flex;align-items:center;}
.main-banner{padding-top:175px;position:relative;z-index:50;min-height:868px;background-color:#000;}
.main-banner .glitch-bg{position:absolute;bottom:-2px;left:0;width:100%;}
.main-banner .wrapper-img{position:relative;}
.main-banner .inner-main-text{max-width:640px;width:100%;margin:0 auto;position:relative;z-index:10;}
.main-banner .inner-main-text h2{margin-bottom:24px;color:#fff;font-size:58px;font-style:normal;font-weight:700;line-height:120%;text-transform:uppercase;}
.main-banner .inner-main-text p{color:hsla(0,0%,100%,.8);font-size:18px;font-style:normal;font-weight:400;line-height:120%;max-width:547px;width:100%;}
.main-banner .inner-main-text .launch-btn{margin-top:36px;max-width:200px;width:100%;}
.main-banner .twice-btn{display:flex;align-items:center;justify-content:flex-start;grid-gap:15px;gap:15px;}
@media (max-width:1024px){
.main-banner{padding-top:155px;}
.main-banner .inner-main-text h2{font-size:30px!important;}
.main-banner .inner-main-text p{font-size:16px;text-align:center;margin-bottom:32px;}
.main-banner .inner-main-text .launch-btn{margin:0 auto 40px;}
}
@media (max-width:1024px){
.main-banner .inner-main-text h2{font-size:45px!important;text-align:center!important;line-height:120%!important;}
.main-banner{padding-bottom:60px!important;min-height:auto!important;}
}
@media (max-width:1024px){
.main-banner .inner-main-text h2{line-height:40px;}
.main-banner .inner-main-text .launch-btn{font-size:11px;padding:7.8px 11.8px;}
}
.main-navbar{position:absolute;top:0;left:0;width:100%;z-index:99;background-color:#000;}
.main-navbar .navbar{border-bottom:1px solid #fff;background:#000;-webkit-backdrop-filter:blur(12px);backdrop-filter:blur(12px);padding:20px 0;}
.main-navbar .navbar-collapse{justify-content:flex-end;}
.main-navbar .navbar-nav{margin:0 auto;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:999;}
.main-navbar .navbar-nav .nav-item .nav-link{padding:0;margin-right:32px;color:#fff;font-size:16px;font-style:normal;font-weight:400;line-height:120%;letter-spacing:-.016px;}
.main-navbar .right-side{display:flex;align-items:center;grid-gap:20px;gap:20px;}
.main-navbar .right-side .launch-btn{height:42px;}
.main-navbar .right-side .languagedropdown{position:relative;}
.main-navbar .right-side .languagedropdown .dropdown-toggle{display:flex;justify-content:center;align-items:center;grid-gap:6px;gap:6px;background-color:initial;border:1px solid #fff;padding:10px 15px;color:#fff;font-size:15px;font-style:normal;font-weight:700;line-height:120%;letter-spacing:-.015px;height:42px;}
.main-navbar .right-side .languagedropdown .dropdown-toggle:after{display:none;}
.main-navbar .right-side .languagedropdown .dropdown-menu{border:1px solid #fff;background:#000;box-shadow:4px 4px 0 0 #fff;border-radius:0;left:unset!important;right:0!important;margin-top:10px;}
.main-navbar .right-side .languagedropdown .dropdown-menu a{font-size:14px;line-height:110%;grid-gap:10px;gap:10px;cursor:pointer;}
.launch-btn,.main-navbar .right-side .languagedropdown .dropdown-menu a{display:flex;padding:10px 15px;align-items:center;color:#fff;font-style:normal;font-weight:700;}
.launch-btn{justify-content:center;grid-gap:6px;gap:6px;background-color:initial;border:1px solid #fff;font-size:15px;line-height:120%;letter-spacing:-.015px;}
@media (max-width:1024px){
.main-navbar .navbar-nav{position:static;transform:unset;}
.main-navbar .right-side{flex-direction:column;}
.main-navbar .right-side .languagedropdown .dropdown-menu{min-width:100%;width:100%;}
}
@media (max-width:1024px){
.main-navbar{padding:12px 15px;}
.main-navbar .navbar-nav li a{justify-content:center;margin-bottom:15px;}
.navbar-toggler:focus{box-shadow:none;outline:none;}
.twice-btn{display:flex;align-items:center;}
}
@media (max-width:1199px){
.main-navbar{padding:15px;}
}
@media (max-width:1024px){
.navbar-collapse{background:#000;padding:40px;border-radius:15px;}
.main-navbar .navbar-nav .nav-item .nav-link{text-align:center;margin:0 auto 20px;}
.right-side{text-align:center;}
.main-navbar .launch-btn{margin:0 auto;}
}
@media (max-width:1024px){
.main-navbar .right-side .languagedropdown{max-width:124px;width:100%;}
.main-navbar .right-side .languagedropdown .dropdown-toggle{width:100%;}
}
.main-heading-partners{padding-top:80px;}
.main-heading-partners h6{text-transform:uppercase;}
.marquee__group h6{font-weight:700;}
.twice-section{padding-bottom:124px;}
.twice-section .inner-twice{display:flex;align-items:flex-start;justify-content:flex-start;max-width:584px;width:100%;grid-gap:16px;gap:16px;}
.twice-section .inner-twice .right h6{margin-bottom:40px;color:#000;font-size:42px;font-style:normal;font-weight:700;line-height:120%;letter-spacing:-.42px;}
.twice-section .inner-twice .right ul li{color:#000;font-size:20px;font-style:normal;font-weight:400;line-height:22px;letter-spacing:-.02px;margin-bottom:15px;list-style-type:disc;list-style:outside;margin-left:20px;}
.twice-section1{position:relative;z-index:10;}
.twice-section2{position:relative;z-index:10;}
.twice-section2 .inner-twice{margin-left:auto;}
@media (max-width:1024px){
.order1-sm{order:1;}
.order2-sm{order:2;}
.twice-section1{padding:60px 0;}
.twice-section .inner-twice{flex-direction:column;justify-content:flex-start;align-items:flex-start;padding-bottom:60px;}
.twice-section2 .inner-twice{padding-top:80px!important;}
.twice-section2 .tdvtvtvvtvtvt{padding-top:0!important;}
.twice-section .inner-twice .right h6{font-size:30px;}
.twice-section .inner-twice .right ul li{font-size:16px;}
.set-mobile-width{max-width:200px;width:100%;margin:0 auto;}
}
.data-ownership{position:relative;z-index:55;padding-top:64px;padding-bottom:124px;}
.data-ownership .parent-box{height:408px;width:100%;display:flex;justify-content:space-between;align-items:flex-start;position:relative;border:1px solid #fff;background:#000;}
.data-ownership .parent-box .left{max-width:505px;width:100%;padding-top:50px;padding-left:74px;}
.data-ownership .parent-box .left h6{color:#fff;font-size:45px;font-style:normal;font-weight:700;line-height:110%;margin-bottom:25px;}
.data-ownership .parent-box .left p{color:hsla(0,0%,100%,.8);font-size:18px;font-style:normal;font-weight:400;line-height:normal;margin-bottom:40px;}
.data-ownership .parent-box .right{position:absolute;bottom:0;right:0;}
.data-ownership .parent-box .right img{max-width:800px;width:100%;}
.data-ownership .launch-btn{max-width:200px;width:100%;}
@media (max-width:1199px){
.data-ownership .parent-box .right img{max-width:670px;}
.data-ownership .parent-box .left h6{font-size:30px;}
.data-ownership .parent-box .left p{font-size:16px;}
}
@media (max-width:1024px){
.data-ownership{padding-bottom:60px;}
.data-ownership .parent-box{height:auto;padding:60px 15px 0;flex-direction:column;grid-gap:44px;gap:44px;}
.data-ownership .parent-box .left{padding:0;}
.data-ownership .parent-box .left p{font-size:14px;}
.data-ownership .parent-box .right{position:static;}
.data-ownership .parent-box{padding-left:0!important;padding-right:0!important;padding-top:40px!important;}
.data-ownership .parent-box .left{padding:0 15px!important;}
.data-ownership{padding-top:40px!important;margin-top:0;}
}
.advantages{position:relative;z-index:50;background-color:initial;padding-top:140px;padding-bottom:80px;}
.advantages .glitch-bg{width:100%;margin-top:-250px;}
.advantages .main-heading{margin-bottom:40px;}
.advantages .main-heading h6{color:#fff;text-align:center;font-size:42px;font-style:normal;font-weight:700;line-height:120%;letter-spacing:-.42px;}
.advantages .main-heading p{color:#fff;text-align:center;font-size:16px;font-style:normal;font-weight:400;line-height:18px;letter-spacing:-.016px;margin-top:10px;}
.advantages .parent-cards{display:flex;justify-content:center;align-items:center;flex-wrap:wrap;grid-gap:20px;gap:20px;}
.advantages .parent-cards .inner-card{flex:0 0 400px;padding:25px;transition:.3s linear;position:relative;height:214px;border:1px solid #fff;background:#000;box-shadow:4px 4px 0 0 #fff;}
.advantages .parent-cards .inner-card .line-card{position:absolute;left:0;top:105px;}
.advantages .parent-cards .inner-card h6{margin-top:15px;margin-bottom:10px;color:#fff;font-size:16px;font-style:normal;font-weight:700;line-height:130%;text-transform:capitalize;}
.advantages .parent-cards .inner-card p{color:#fff;font-size:14px;font-style:normal;font-weight:400;line-height:120%;}
.advantages .parents-card2{margin-top:20px;}
.advantages .bottom-para{color:#fff;text-align:center;font-size:16px;font-style:normal;font-weight:400;line-height:120%;margin-top:32px;}
@media (max-width:1199px){
.advantages .parent-cards{flex-wrap:wrap;}
}
@media (max-width:1024px){
.advantages .main-heading h6{font-size:30px;line-height:140%;}
.advantages .parent-cards .inner-card{flex:0 0 100%;width:100%;border-left:0;}
.advantages .parent-cards .inner-card .line-card{display:none;}
.advantages .parent-cards .inner-card{height:259px;border:1px solid #fff;background:#000;box-shadow:4px 4px 0 0 #fff;}
.advantages{padding-top:30px!important;padding-bottom:40px!important;}
.advantages .glitch-bg{margin-top:-105px!important;}
}
.ourpartners{min-height:395px;display:flex;justify-content:center;align-items:center;position:relative;}
.ourpartners .main-heading{margin:30px 0;}
.ourpartners .main-heading h6{color:#000;text-align:center;font-size:50px;font-style:normal;font-weight:700;line-height:120%;letter-spacing:-.5px;text-transform:uppercase;}
.ourpartners .bottom-content{display:flex;justify-content:center;align-items:center;grid-gap:25px;gap:25px;}
.ourpartners .bottom-content a{border:1px solid #000;background:#fff;box-shadow:3px 3px 0 0 #050505;pointer-events:none;}
@media (max-width:1024px){
.ourpartners{min-height:260px;}
.ourpartners .main-heading h6{font-size:30px;}
.ourpartners .main-heading{margin:0 0 15px;}
.ourpartners .bottom-content{grid-gap:10px;gap:10px;}
}
@media (max-width:1024px){
.main-heading-partners{margin-top:0!important;}
}
.ourtransparency{height:276px;display:flex;justify-content:center;align-items:center;}
.ourtransparency h4{color:#000;text-align:center;font-size:42px;font-style:normal;font-weight:700;line-height:120%;letter-spacing:-.42px;}
@media (max-width:1024px){
.ourtransparency{height:137px;}
.ourtransparency h4{font-size:20px;}
}
.main-footer{padding-top:73px;padding-bottom:30px;background-color:#000;}
.main-footer .upper-foot{display:flex;justify-content:space-between;align-items:center;padding-bottom:42px;border-bottom:1px solid #fff;}
.main-footer .upper-foot .text-links{display:flex;align-items:center;grid-gap:70px;gap:70px;}
.main-footer .upper-foot .text-links a{color:#fff;font-size:16px;font-style:normal;font-weight:400;line-height:normal;}
.main-footer .bottom-foot{display:flex;justify-content:space-between;align-items:center;padding-top:36px;}
.main-footer .bottom-foot p{color:#fff;font-size:16px;font-style:normal;font-weight:400;line-height:normal;}
.main-footer .bottom-foot .text-links{display:flex;align-items:center;grid-gap:15px;gap:15px;}
.main-footer .bottom-foot .text-links a{background-color:initial;}
.main-footer .active{font-weight:700!important;}
@media (max-width:1024px){
.main-footer{padding-top:40px;}
.main-footer .upper-foot{flex-direction:column;}
.main-footer .bottom-foot,.main-footer .upper-foot{justify-content:center;align-items:center;grid-gap:30px;gap:30px;}
.main-footer .bottom-foot{flex-direction:column-reverse;}
.main-footer .upper-foot .text-links{grid-gap:30px;gap:30px;}
}
.wrapper-set-color{background-color:#000;}
.partners{position:relative;z-index:50;padding-bottom:124px;}
.main-heading-partners{margin-bottom:32px;position:relative;z-index:50;margin-top:80px;}
.main-heading-partners h6{color:#000;text-align:center;font-size:50px;font-style:normal;font-weight:600;line-height:120%;}
@media (max-width:1024px){
.partners{padding-top:80px;}
}
.marquee{--duration:30s;--gap:1rem;display:flex;overflow:hidden;-webkit-user-select:none;user-select:none;grid-gap:var(--gap);gap:var(--gap);}
.marquee__group{flex-shrink:0;display:flex;align-items:center;justify-content:space-around;grid-gap:var(--gap);gap:var(--gap);min-width:100%;animation:scroll var(--duration) linear infinite;}
.marquee__group h6{display:flex;align-items:center;justify-content:center;grid-gap:10px;gap:10px;cursor:pointer;border:1px solid #000;background:#fff;box-shadow:3px 3px 0 0 #050505;padding:12px 22px;color:#000;font-size:14px;font-style:normal;font-weight:500;line-height:100%;text-transform:uppercase;min-width:135px;width:100%;}
@media (prefers-reduced-motion:reduce){
.marquee__group{animation-play-state:paused;}
}
@media (max-width:1024px){
.marquee{--duration:40s!important;}
}
@media (max-width:1024px){
.main-heading-partners h6{font-size:30px!important;}
}
@media (max-width:1024px){
.marquee__group h6{font-size:18px!important;}
.partners{height:56px;padding-top:18px!important;}
}
@media (max-width:1024px){
.order1-sm{order:1;}
.order2-sm{order:2;}
.wrapper-img{text-align:center!important;}
}
/*! CSS Used keyframes */
@keyframes scroll{0%{transform:translateX(0);}to{transform:translateX(calc(-100% - var(--gap)));}}
/*! CSS Used fontfaces */
@font-face{font-family:'Space Mono';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/spacemono/v13/i7dPIFZifjKcF5UAWdDRYE58RWq7.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Space Mono';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/spacemono/v13/i7dPIFZifjKcF5UAWdDRYE98RWq7.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Space Mono';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/spacemono/v13/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Space Mono';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/spacemono/v13/i7dMIFZifjKcF5UAWdDRaPpZUFqaHjyV.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Space Mono';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/spacemono/v13/i7dMIFZifjKcF5UAWdDRaPpZUFuaHjyV.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Space Mono';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/spacemono/v13/i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}